{% extends 'base.twig' %}
{% block title %}New application{% endblock %}
{% block post_meta %}
<meta property="og:title" content="Qcredit title | QCredit" />
<meta property="og:description" content="QCredit dummy description for Facebook Open Graph Tool. QCredit dummy description for Facebook Open Graph Tool." />
<meta name="description" content="QCredit dummy description for Facebook Open Graph Tool. QCredit dummy description for Facebook Open Graph Tool." />
{% endblock %}

{% block container %}
<form method="POST" class="loan-form {% if application.errors %}loan-form-errors{% endif %}">
  <div class="loan-form-upper">
    {% include '$sliders.twig' %}
  </div>
  <div class="step-1 d-none">
    <div class="form-block form-block-general">
      {% for field in fields.general %}
        {% if field.type is same as('checkbox') %}
          <div class="{{ field.type }} {{ field.name }}">
            <input type="{{ field.type }}" id="{{ field.name }}" name="{{ field.name }}" class="{{ field.name }}-checkbox" {% if field.name is same as('marketingConsent') %}checked{% endif %}>
            <label for="{{ field.name }}">{{ field.label }}</label>
          </div>
          {% elseif field.name is same as('loanTerm') or field.name is same as('loanAmount') %}
            {# Don't render #}
          {% else %}
            <div class="field {{ field.type }} {{ field.name }} {% if field.required %}required{% endif %}">
              <label for="">{{ field.label }}{% if field.required %}*{% endif %}</label>
              <input type="{{ field.type }}" id="{{ field.name }}" name="{{ field.name }}" value="{{application.getAttribute(field.name)}}">
              {% if application.errors[field.name] %}<p class="rules">{{ application.errors[field.name] }}</p>{% endif %}
            </div>
        {% endif %}
      {% endfor %}
    </div>
    {% if not application.errors %}
    <div class="form-block form-block-submit">
      <div class="broker-btn broker-btn-gold">{% trans 'Proceed' %}</div>
    </div>
    {% endif %}
  </div>
  <div class="step-2">
    {% for sectionId,section in fields %}
    {% if sectionId is not same as('general') %}
      <div class="form-block form-block-{{ sectionId }}">
        <p>
          {% if sectionId is same as('personal') %}
            Personal information
          {% elseif sectionId is same as('housing') %}
            Housing information
          {% elseif sectionId is same as('income') %}
            Income information
          {% elseif sectionId is same as('account') %}
            Account information
          {% elseif sectionId is same as('additional') %}
            Additional information
          {% endif %}
        </p>
        {% for field in section %}
          {% if field.type is same as('checkbox') %}
            <div class="{{ field.type }} {{ field.name }}">
              <input type="{{ field.type }}" id="{{ field.name }}" name="{{ field.name }}" class="{{ field.name }}-checkbox" {% if field.name is same as('marketingConsent') %}checked{% endif %}>
              <label for="{{ field.name }}">{{ field.label }}</label>
            </div>
            {% elseif field.name is same as('loanTerm') or field.name is same as('loanAmount') %}
              {# Don't render #}
            {% else %}
              <div class="field {{ field.type }} {{ field.name }} {% if field.required %}required{% endif %}">
                <label for="">{{ field.label }}{% if field.required %}*{% endif %}</label>
                {% if field.type is same as('select') %}
                  <select id="{{ field.name }}" name="{{ field.name }}" value="{{application.getAttribute(field.name)}}">
                    <option></option>
                    {% for optionValue,optionName in field.enum %}
                      {% if optionValue != '' %}
                        <option value="{{ optionValue }}" {% if application.getAttribute(field.name) == optionValue %}selected="true"{% endif %}>{{ optionName }}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                  {% else %}
                  <input type="{{ field.type }}" id="{{ field.name }}" name="{{ field.name }}" value="{{application.getAttribute(field.name)}}">
                {% endif %}
                {% if application.errors[field.name] %}<p class="rules">{{ application.errors[field.name] }}</p>{% endif %}
              </div>
          {% endif %}
        {% endfor %}
        </div>
      {% endif %}
    {% endfor %}
    <div class="form-block form-block-submit">
      <button type="submit" class="broker-btn broker-btn-gold broker-btn-send">{% trans 'Confirm' %}</button>
    </div>
  </div>
  <!--{% if application.errors.payoutMethod %}<p class="rules">{{ application.errors.payoutMethod }}</p>{% endif %} -->
  </div>
  <input type="hidden" name="applicationHash" id="applicationHash" value="{{ application.applicationHash }}">
</form>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#reminderModal">
    Launch demo modal
  </button>
<div class="modal fade" tabindex="-1" role="dialog" id="reminderModal">
  <div class="modal-dialog shake" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <h5 class="modal-title mb-3 text-center">{% trans 'Hey there!' %}</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <img class="img-fluid float-left mr-2" src="/src/images/timerunningout.png" alt="Time is running out"/>
          </div>
          <div class="col">
            <p>{% trans "Good things come to those who don't wait!" %}</p>
            <p>{% trans "In case you're having trouble completing the form, don't hesitate contacting us!" %}</p>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn broker-btn broker-btn-gold" data-dismiss="modal">{% trans 'Okay' %}</button>
      </div>
    </div>
    </div>
  </div>
</div>
{% endblock %}

{% block endBody %}
  <script type="text/javascript">
    require(['/src/scripts/common.js'], function (common) {
      require(['domReady', 'app/formHelper', 'app/form', 'formReminder'], function (domReady, formHelper, form) {

      });
    });
  </script>
{% endblock %}
