{% extends 'base.twig' %}
{% block title %}Application's offer list{% endblock %}
{% block container %}
  <div class="row justify-content-md-center">
    <div class="col-sm-12 col-md-9">
      <div class="offer-list-head">
        <p>Thank you! Your application has been submitted and the loan offers will appear live within 15 minutes below:</p>
      </div>
    </div>
  </div>
  <section class="row justify-content-md-center">
    <h4 class="col-sm-12 col-md-9 offers-list-heading">Personal offers:</h4>
    {% if application.offers %}
    <div class="col-sm-12 col-md-9 offers-listing-wrap">
      {% for offer in application.offers %}
      <article class="loan-offer-container personal-offer-container {% if application.featured %}featured{% endif %}">
        <div class="loan-offer-head">
          <div class="loan-offerer-logo-container">
            <img src="/src/images/aasalogo.png" class="loan-offerer-logo" alt="{{ offer.partner.name }} logo">
          </div>
          <div class="loan-offerer-info">
            <span class="loan-offerer-name">{{ offer.partner.name }}</span>
            <span class="loan-offerer-website">www.aasa.fi</span>
          </div>
        </div>
        <div class="loan-offer-body">
          <span><strong>Amount:</strong> 2400 €</span>
          <span><strong>Duration:</strong> 24 m</span>
          <span><strong>Interest:</strong> 19.9 %</span>
          <span><strong>APR:</strong> 238 %</span>
        </div>
        <div class="loan-offer-footer">
          <a href="{{ offer.data.acceptancePageUrl }}" target="_blank" class="loan-offer-cta btn broker-btn broker-btn-gold">SIGN CONTRACT</a>
        </div>
        <!--
        <p>{{ offer.partner.id }}</p>
        <p>{{ offer.partner.name }}</p>
        <p>{{ offer.loanAmount }}</p>
        <p>{{ offer.remoteId }}</p>
        <p>{% if offer.isInProcess %}In process{% elseif offer.isPaidOut %}Paid out{% else %}Rejected{% endif %}</p>-->
      </article>
      {% endfor %}
    </div>
    {% endif %}
  </section>
  <div class="row justify-content-sm-center">
    <div class="col-sm-9">
      <div class="bouncing-loader">
        <div class="bouncing-loader__round"></div>
        <div class="bouncing-loader__round"></div>
        <div class="bouncing-loader__round"></div>
      </div>
    </div>
  </div>
  <section class="row justify-content-md-center">
    <h4 class="col-sm-12 col-md-9 offers-list-heading">Other offers:</h4>
    <div class="col-sm-12 col-md-9 offers-listing-wrap">
      <article class="loan-offer-container affiliate-offer-container">
        <div class="loan-offer-head">
          <div class="loan-offerer-logo-container">
            <img src="/src/images/affiliate_logos/provident.jpg" class="loan-offerer-logo" alt="Provident logo">
          </div>
          <div class="loan-offerer-info">
            <span class="loan-offerer-name">Provident</span>
            <span class="loan-offerer-website">www.provident.pl</span>
          </div>
        </div>
        <div class="loan-offer-body">
          <span><strong>Amount:</strong> 500 - 15000 PLN</span>
          <span><strong>Duration:</strong> 3 - 36 m</span>
          <span><strong>APR:</strong> 78% - 251%</span>
        </div>
        <div class="loan-offer-footer">
          <a href="http://tracking.affiliate44.com/aff_c?offer_id=24&aff_id=447" target="_blank" class="loan-offer-cta btn broker-btn broker-btn-gold">SIGN CONTRACT</a>
        </div>
      </article>
      <article class="loan-offer-container affiliate-offer-container">
        <div class="loan-offer-head">
          <div class="loan-offerer-logo-container">
            <img src="/src/images/affiliate_logos/sms-kredyt-logo.png" class="loan-offerer-logo" alt="smskredyt logo">
          </div>
          <div class="loan-offerer-info">
            <span class="loan-offerer-name">Smskredyt</span>
            <span class="loan-offerer-website">www.smskredyt.pl</span>
          </div>
        </div>
        <div class="loan-offer-body">
          <span><strong>Amount:</strong> 1000 - 7000 PLN</span>
          <span><strong>Duration:</strong> 3 - 30 m</span>
          <span><strong>APR:</strong> 97% - 538%</span>
        </div>
        <div class="loan-offer-footer">
          <a href="http://tracking.affiliate44.com/aff_c?offer_id=41&aff_id=447" target="_blank" class="loan-offer-cta btn broker-btn broker-btn-gold">SIGN CONTRACT</a>
        </div>
      </article>
      <article class="loan-offer-container affiliate-offer-container">
        <div class="loan-offer-head">
          <div class="loan-offerer-logo-container">
            <img src="/src/images/affiliate_logos/hapipozyczki.png" class="loan-offerer-logo" alt="Hapipozyczki logo">
          </div>
          <div class="loan-offerer-info">
            <span class="loan-offerer-name">Hapipozyczki</span>
            <span class="loan-offerer-website">www.hapipozyczki.pl</span>
          </div>
        </div>
        <div class="loan-offer-body">
          <span><strong>Amount:</strong> 800 - 15000 PLN</span>
          <span><strong>Duration:</strong> 3 - 36 m</span>
          <span><strong>APR:</strong> 78% - 491%</span>
        </div>
        <div class="loan-offer-footer">
          <a href="http://tracking.affiliate44.com/aff_c?offer_id=47&aff_id=447" target="_blank" class="loan-offer-cta btn broker-btn broker-btn-gold">SIGN CONTRACT</a>
        </div>
      </article>
      <article class="loan-offer-container affiliate-offer-container">
        <div class="loan-offer-head">
          <div class="loan-offerer-logo-container">
            <img src="/src/images/affiliate_logos/logo-pozyczkaok.png" class="loan-offerer-logo" alt="Pozyczkaok logo">
          </div>
          <div class="loan-offerer-info">
            <span class="loan-offerer-name">Pozyczkaok</span>
            <span class="loan-offerer-website">www.pozyczkaok.pl</span>
          </div>
        </div>
        <div class="loan-offer-body">
          <span><strong>Amount:</strong> 1500 - 7000 PLN</span>
          <span><strong>Duration:</strong> 6 - 30 m</span>
          <span><strong>APR:</strong> 97% - 261%</span>
        </div>
        <div class="loan-offer-footer">
          <a href="http://tracking.affiliate44.com/aff_c?offer_id=91&aff_id=447" target="_blank" class="loan-offer-cta btn broker-btn broker-btn-gold">SIGN CONTRACT</a>
        </div>
      </article>
      <article class="loan-offer-container affiliate-offer-container">
        <div class="loan-offer-head">
          <div class="loan-offerer-logo-container">
            <img src="/src/images/affiliate_logos/logoHomekredyt.png" class="loan-offerer-logo" alt="HomeKredyt logo">
          </div>
          <div class="loan-offerer-info">
            <span class="loan-offerer-name">HomeKredyt</span>
            <span class="loan-offerer-website">www.homekredyt.pl</span>
          </div>
        </div>
        <div class="loan-offer-body">
          <span><strong>Amount:</strong> 3000 - 15000 PLN</span>
          <span><strong>Duration:</strong> 6 - 24 m</span>
          <span><strong>APR:</strong> 80% - 271%</span>
        </div>
        <div class="loan-offer-footer">
          <a href="http://tracking.affiliate44.com/aff_c?offer_id=111&aff_id=447" target="_blank" class="loan-offer-cta btn broker-btn broker-btn-gold">SIGN CONTRACT</a>
        </div>
      </article>
      <article class="loan-offer-container affiliate-offer-container">
        <div class="loan-offer-head">
          <div class="loan-offerer-logo-container">
            <img src="/src/images/affiliate_logos/supergrosz.png" class="loan-offerer-logo" alt="Supergrosz logo">
          </div>
          <div class="loan-offerer-info">
            <span class="loan-offerer-name">Supergrosz</span>
            <span class="loan-offerer-website">www.supergrosz.pl</span>
          </div>
        </div>
        <div class="loan-offer-body">
          <span><strong>Amount:</strong> 1000 - 15000 PLN</span>
          <span><strong>Duration:</strong> 4 - 48 m</span>
          <span><strong>APR:</strong> 58% - 378%</span>
        </div>
        <div class="loan-offer-footer">
          <a href="http://tracking.affiliate44.com/aff_c?offer_id=150&aff_id=447" target="_blank" class="loan-offer-cta btn broker-btn broker-btn-gold">SIGN CONTRACT</a>
        </div>
      </article>
      <article class="loan-offer-container affiliate-offer-container">
        <div class="loan-offer-head">
          <div class="loan-offerer-logo-container">
            <img src="/src/images/affiliate_logos/euroloan-logo-100.png" class="loan-offerer-logo" alt="Euroloan logo">
          </div>
          <div class="loan-offerer-info">
            <span class="loan-offerer-name">Euroloan</span>
            <span class="loan-offerer-website">www.euroloan.pl</span>
          </div>
        </div>
        <div class="loan-offer-body">
          <span><strong>Amount:</strong> 2000 - 20000 PLN</span>
          <span><strong>Duration:</strong> 5 - 48 m</span>
          <span><strong>APR:</strong> 47% - 154%</span>
        </div>
        <div class="loan-offer-footer">
          <a href="http://tracking.affiliate44.com/aff_c?offer_id=458&aff_id=447" target="_blank" class="loan-offer-cta btn broker-btn broker-btn-gold">SIGN CONTRACT</a>
        </div>
      </article>
      <article class="loan-offer-container affiliate-offer-container">
        <div class="loan-offer-head">
          <div class="loan-offerer-logo-container">
            <img src="/src/images/affiliate_logos/logo-ratka.png" class="loan-offerer-logo" alt="Ratka logo">
          </div>
          <div class="loan-offerer-info">
            <span class="loan-offerer-name">Ratka</span>
            <span class="loan-offerer-website">www.ratka.pl</span>
          </div>
        </div>
        <div class="loan-offer-body">
          <span><strong>Amount:</strong> 1000 - 10000 PLN</span>
          <span><strong>Duration:</strong> 12 - 24 m</span>
          <span><strong>APR:</strong> 75% - 138%</span>
        </div>
        <div class="loan-offer-footer">
          <a href="http://tracking.affiliate44.com/aff_c?offer_id=2&aff_id=447" target="_blank" class="loan-offer-cta btn broker-btn broker-btn-gold">SIGN CONTRACT</a>
        </div>
      </article>
    </div>
  </section>
  <script>
    var app_hash = '{{ application.applicationHash }}';
    setInterval(function(){
      console.log(app_hash);
      $.ajax({
        method: "GET",
        url: "/application/status",
      })
        .done(function( data ) {
          console.log( "Success " + data.status );
          if(data.status === 'done') {
            $('.bouncing-loader').hide();
          }
        })
        .fail(function(){
          console.log('fail');
        });
    },60000);
  </script>
{% endblock %}
