{% extends 'admin.twig' %}
{% block title %}{{ application.id }}{% endblock %}
{% block container %}
  {% if flash %}
      <div class="row">
          {% if flash.success %}
              <div class="alert alert-success" role="alert">{{ flash.success }}</div>
          {% elseif flash.error %}
              <div class="alert alert-danger" role="alert">{{ flash.error }}</div>
          {% endif %}
      </div>
  {% endif %}
  <div class="row">
      <div class="col col-sm-12 col-md-6 col-lg-4">
          <h4>Loan information</h4>
          <p>Amount: {{ application.loanAmount }}</p>
          <p>Duration: {{ application.loanTerm }}</p>
          <p>Insurance: yes</p>
      </div>
      <div class="col col-sm-12 col-md-6 col-lg-6">
          <h4>Loan status</h4>
          <table class="table">
              <thead>
                  <tr>
                      <th>Lender Id</th>
                      <th>Lender Id</th>
                      <th>Amount</th>
                      <th>Status</th>
                  </tr>
              </thead>
              <tbody>
                <tr>
                    <td>5435432</td>
                    <td>1231232</td>
                    <td>6000 PLN</td>
                    <td class="status-accepted">Accepted</td>
                </tr>
                <tr>
                    <td>7676755</td>
                    <td>1442122</td>
                    <td>5000 PLN</td>
                    <td class="status-accepted">Accepted</td>
                </tr>
              </tbody>
            </table>
      </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h4>Loan applicant information</h4>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
          <p><strong>Personal</strong></p>
          <table>
            <tr>
              <td class="key">Name: </td>
              <td class="value">{{ application.firstName }} {{ application.lastName }}</td>
            </tr>
            <tr>
              <td class="key">Id:</td>
              <td class="value">{{ application.pin }}</td>
            </tr>
            <tr>
              <td class="key">Phone: </td>
              <td class="value">{{ application.phone }}</td>
            </tr>
            <tr>
              <td class="key">E-mail:</td>
              <td class="value">{{ application.email }}</td>
            </tr>
            <tr>
              <td class="key">Account num:</td>
              <td class="value">{{ application.account.accountNumber }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col">
          <h4>Partners' offers</h4>
          {% if application.offers %}
          <table class="table">
              <thead>
                  <tr>
                      <th>Lender Id</th>
                      <th>Lender Name</th>
                      <th>Amount</th>
                      <th>Remote Id</th>
                      <th>Status</th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                  {% for offer in application.offers %}
                      <tr>
                          <td>{{ offer.partner.id }}</td>
                          <td>{{ offer.partner.name }}</td>
                          <td>{% if offer.loanAmount %}{{ offer.loanAmount }} PLN{% endif %}</td>
                          <td>{{ offer.remoteId }}</td>
                          <td>{% if offer.isInProcess %}In process{% elseif offer.isPaidOut %}Paid out{% else %}Rejected{% endif %}</td>
                          <td><a href="/admin/offers/update/{{ offer.id }}"><span class="text-uppercase">update</span></a></td>
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
          {% endif %}
      </div>
  </div>
{% endblock %}
