{% extends 'base.twig' %}
{% block title %}Artykuły{% endblock %}
{% block post_meta %}
<meta name="description" content="You provide us your details, we provide you the best loan offers you can get. With a single click!" />
<meta property="og:title" content="The best loan offers in the country brought together | QCredit" />
<meta property="og:description" content="You provide us your details, we provide you the best loan offers you can get. With a single click!" />
{% endblock %}

{% block container %}
  <section class="blog-articles">
    <h1 class="">Artykuły o: {{ tag }}</h1>
    {% for post in posts %}
      <article class="post-preview">
        <a class="post-preview-link-hide" href="/{{post.slug}}"><div class="post-preview-image" style="background-image: url({{post.image}});"></div></a>
        <div class="data text-uppercase"><span class="date">{{ post.date_publish | date("d.m.Y") }} </span>{% for tag in post.tags %}<span class="tags"><a href="/blog/tag/{{ tag.name|replace({' ': '-'}) }}">{{ tag.name }}</a>{% endfor %}</span></div>
        <a class="post-preview-link-hide" href="/{{post.slug}}"><h5 class="post-preview-title">{{ post.title }}</h5>
        <div class="post-preview-lead">{{ post.lead|striptags|length > 170 ? post.lead|raw|slice(0,170)|raw : post.lead|raw }}
{{ post.lead|striptags|length > 170 ? '...' : ''}}</div></a>
        <a class="post-preview-link" href="/{{post.slug}}">{% trans "Read more" %} &#187;</a>
      </article>
    {% endfor %}
  </section>
{% endblock %}
