<!doctype html>
<html lang="pl">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="876809952895-5hg5tv7pj9d0f2bt3chijj2j68ttmi5m.apps.googleusercontent.com">
    <meta property="og:locale" content="pl_PL" />
    {% if block('post_meta_blog') is defined %}
      {{ block('post_meta_blog') }}
    {% else %}
      <meta property="og:type" content="website" />
      <meta property="og:url" content="{{ currentUrl }}" />
      <meta property="og:title" content="The best loan offers in the country brought together | QCredit" />
      <meta property="og:description" content="You provide us your details, we provide you the best loan offers you can get. With a single click!" />
      <meta property="og:image" content="https://www.qcredit.pl/src/images/site-image.jpg" />
      <meta name="description" content="You provide us your details, we provide you the best loan offers you can get. With a single click!" />
    {% endif %}
    <link rel="canonical" href="{{ currentUrl }}" />
    <link rel="shortcut icon" type="image/png" href="/src/images/favicon.png"/>
  <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/src/styles/style.css">
    <title>{{ block('title') }}</title>
    {% if environment == 'production' %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121045679-1"></script>
      <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-121045679-1');
      </script>
    {% endif %}
</head>
<body>
  <header class="page-header">
    <nav class="navbar fixed-top navbar-expand-md navbar-light">
      {% if environment != 'production' %}
        <div class="position-absolute" style="left: 50%; transform: translateX(-50%); top: 0.5rem">
          <div class="col text-center text-danger">
            <h4>TEST-SERVER!</h4>
          </div>
        </div>
      {% endif %}
      <a class="navbar-brand" href="/"><img class="navbar-brand" src="/src/images/qcredit_logo.png" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item d-none">
            <a class="nav-link nav-link-outline text-uppercase" href="/application">Weź pożyczkę</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase home-link" href="/">Strona domowa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase" href="/{% trans 'about' %}">O nas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase" href="/{% trans 'blog' %}">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase" href="/{% trans 'contact' %}">Kontakt</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
<div class="container-fluid">
  {% block hero %}
  {% endblock %}
  </div>
  <div class="container page-body">
    {% if flash.success %}
      <div class="alert alert-success" role="alert">
        {{ flash.success }}
      </div>
    {% elseif flash.error %}
      <div class="alert alert-danger" role="alert">
        {{ flash.error }}
      </div>
    {% endif %}
      {% block container %}
      {% endblock %}
  </div>
  <footer class="page-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="container">
          <section class="row upper-footer">
            <div class="col-sm-12 col-md-6 col-lg-3 footer-section">
              <p class="footer-heading font-weight-bold text-uppercase">qCredit</p>
              <nav class="navigation footer-navigation">
                <ul class="list-unstyled">
                  <li><a href="/">Strona domowa</a></li>
                  <li><a href="/{% trans 'about' %}">O nas</a></li>
                  <li><a href="/{% trans 'contact' %}">Kontakt</a></li>
                  <li><a href="/{% trans 'privacy-policy' %}">Polityka Prywatności</a></li>
                  <li><a href="/{% trans 'cookies-policy' %}">Polityka cookies</a></li>
                  <li><a href="/{% trans 'terms-and-conditions' %}">Warunki korzystania</a></li>
                  <li class="d-none"><a href="/application">Weź pożyczkę</a></li>
                </ul>
              </nav>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 footer-section">
              <p class="footer-heading font-weight-bold text-uppercase">Kontakt</p>
              <p class="footer-contacts">
                <span><strong>Email:</strong> <a href="mailto:&#105;&#110;&#102;&#111;&#064;&#113;&#099;&#114;&#101;&#100;&#105;&#116;&#046;&#112;&#108;">&#105;&#110;&#102;&#111;&#064;&#113;&#099;&#114;&#101;&#100;&#105;&#116;&#046;&#112;&#108;</a></span>
                <span><strong>Adres:</strong> Warszawa (01-209) Ul. Hrubieszowska 6A</span>
              </p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 footer-section footer-section-grating">
              <p class="footer-heading font-weight-bold text-uppercase">Rating</p>
              <span class="rating-desc" itemscope="" itemtype="http://schema.org/Product">
                 <span itemprop="name">QCredit</span>
                 <span itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating"> Rated <span itemprop="ratingValue">4.5</span> / 5 based on <span itemprop="reviewCount">57</span> reviews.</span>
              </span>
            </div>
          </section>
        </div>
      </div>
      <section class="row lower-footer text-center">
        <p>Copyright © 2018 Qcredit - Warszawa (01-209) Ul. Hrubieszowska 6A</p>
      </section>
    </div>
  </footer>

<link href="https://fonts.googleapis.com/css?family=Lato:400,700|Playfair+Display:700" rel="stylesheet">
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/src/scripts/require.js"></script>
<script type="text/javascript">
  require(['/src/scripts/common.js'], function (common) {
    require(['broker', 'domReady'], function (app) {
      app.setCsrfName('{{ csrf.keys.name }}', '{{ csrf.name }}');
      app.setCsrfValue('{{ csrf.keys.value }}', '{{ csrf.value }}');
      {% if lang is defined %}
      app.setLanguage('{{ lang }}');
      {% endif %}
      {% if environment is defined %}
      app.setEnvironment('{{ environment }}');
      {% endif %}
    });
  });
</script>
{% if environment == 'production' %}
  <script type="text/javascript">
      window._mfq = window._mfq || [];
      (function() {
          var mf = document.createElement("script");
          mf.type = "text/javascript"; mf.async = true;
          mf.src = "//cdn.mouseflow.com/projects/df055192-425e-4e06-8ea6-5dd11d9e2d56.js";
          document.getElementsByTagName("head")[0].appendChild(mf);
      })();
  </script>
{% endif %}
{% if block('endBody') is defined %}
  {{ block('endBody') }}
{% endif %}
</body>
</html>
