{% extends 'mail/base-html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
{% set name = offer.application.fullName %}
{% set beginLink = '<a href="'~ link ~'">' %}
{% set endLink = '</a>' %}
  <p style="margin:0 10px 0 0;Margin:0 10px 0 0;margin-bottom:25px;Margin-bottom:25px;padding:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3;font-weight:400;text-align:left;">
    {% trans %}Hi, {{ name }}{% endtrans %}
  </p>
  <p style="margin:0 10px 0 0;Margin:0 10px 0 0;margin-bottom:25px;Margin-bottom:25px;padding:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3;font-weight:400;text-align:left;">
    {% trans "It has been a while since we've seen you. We have some offers for you that you might find irresistable. Here's a glance of what we've done for you:" %}
    <br>
    {% for offer in application.offers %}
      {% include 'common/offer-list-item.twig' with {'offer': offer} %}
    {% endfor %}
    <br>
    {% trans %}... and there's more! Please {{ beginLink }}click here{{ endLink }} to see what else there's out for you!{% endtrans %}
  </p>
  <p style="margin:0 10px 0 0;Margin:0 10px 0 0;margin-bottom:25px;Margin-bottom:25px;padding:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3;font-weight:400;text-align:left;">
    {% trans 'If the link is not working, please copy and paste the following to your browser address bar and hit Enter:' %}
  </p>
  <p style="margin:0 10px 0 0;Margin:0 10px 0 0;margin-bottom:25px;Margin-bottom:25px;padding:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3;font-weight:400;text-align:left;word-break:break-all;">
    <a target="_blank" href="{{ link }}">{{ link }}</a>
  <p>

{% endblock %}
